@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
/* 
  font-family: "Epilogue", sans-serif;
font-family: "Inter", sans-serif; 
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  /* background-color: gray; */
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
/* loading */
.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.app {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 0rem;
  min-height: 100vh;
  /* this is for the footer */
  display: grid;
  grid-template-rows: 1fr 200px;
  gap: 2rem;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
div.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

div.header__banner {
  display: grid;
  grid-column: span 12;
  min-width: 100%;
  min-height: 100%;
}
div.header__banner > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
img.header__banner {
  aspect-ratio: 1 / 1.125;
  object-fit: cover;
}
.header__content {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content__sale {
  padding: 2rem;
  color: #f2f2f2;
  text-align: center;
  font-family: "Epilogue", sans-serif;
  text-transform: uppercase;
}
.header__content__sale-title {
  font-size: 5rem;
  letter-spacing: -2px;
  line-height: 100%;
}
.header__content__sale-description {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 100%;
}

.header__banner__button {
  margin-top: 2rem;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: #222222;
  cursor: pointer;
}

.header__banner__button:hover {
  background-color: white;
}
.header__banner__button:focus {
  outline: 2px solid #f2f2f2;
  outline-offset: 0.25rem;
}

/* logo */
img.header__image {
  max-width: 25px;
  align-self: center;
  object-position: bottom;
}

h1.header__title {
  font-size: 1.2rem;
  font-family: "Epilogue", sans-serif;
  cursor: pointer;
}

/* shopping cart */
.header__shopping-cart {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.header__shopping-container {
  position: relative;
}
.header__shopping-num {
  position: absolute;
  background-color: red;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Epilogue", sans-serif;
  color: white;
  bottom: 0;
  font-size: 0.75rem;
}
.header__shopping-num > p {
  position: relative;
  top: 2px;
}

main {
  margin-top: 2rem;
  position: relative;
}

/* search */

form.search {
  margin: 1rem auto;
  max-width: 40rem;
  display: flex;
}
form.search:focus {
  outline: 2px solid red;
}

input.search,
button.search {
  height: 2.5rem;
  background-color: #f2f2f2;
  border: 1px solid #c1c1c1;
  outline: none;
}

button.search {
  border-left: none;
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 1.25rem;
}

input.search {
  border-right: none;
  width: 100%;
  font-family: "Inter", sans-serif;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}

/* cat filter */
section.cat {
  padding: 1rem 0.5rem;
  /* padding-bottom: 2rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.cat-filter {
  font-family: "Inter", sans-serif;
  display: inline;
  font-size: 0.75rem;
  padding: 0;
}
.cat-filter:first-child {
  font-weight: 700;
}
button.cat-filter {
  background-color: transparent;
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
}
button.cat-filter::after {
  content: " ";
}
button.cat-filter:last-child:after {
  content: unset;
}

/* products */
section.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 0.5rem;
  gap: 0.5rem;
}
.card__overlay {
  display: grid;
  cursor: pointer;
}
.card__overlay > * {
  grid-row: 1/2;
  grid-column: 1/2;
}
.card__overlay__container {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__overlay:hover .card__overlay__container {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  transition-delay: 0.2s;
}
.card__overlay__container p {
  padding: 0.25rem 0.75rem;
  border: 1px solid #f2f2f2;
  background-color: rgb(44, 40, 40, 0.5);
  color: #f2f2f2;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.card > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.card__content {
  padding: 1rem;
  background-color: white;
  align-self: end;
  padding: 0.25rem;
  line-height: 140%;
  font-family: "Inter", sans-serif;
}
.card__category {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #a2a2a2;
  letter-spacing: 1px;
}
.card__title {
  font-size: 0.8rem;
  color: #001e43;
  font-weight: 500;
  line-height: 100%;
}

.card__price {
  padding-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 300;
}

.card__image {
  object-fit: cover;
  aspect-ratio: 1/1;

  width: 100%;
}
@media screen and (min-width: 600px) {
  header {
    padding-inline: 3rem;
    margin-top: 2rem;
  }

  .header__content__sale {
    border: 2px solid white;
    background-color: #22222250;
  }
  section.product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  img.header__banner {
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }
}
@media screen and (min-width: 1024px) {
  .header__content__sale {
    padding: 4rem;
    border: 1px solid white;
  }
  section.product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
  img.header__banner {
    aspect-ratio: 16 / 6;
    object-fit: cover;
  }
  section.search {
    grid-column: span 12;
  }

  section.cat {
    grid-column: span 2;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: unset;
  }
  .product-grid {
    grid-column: span 10;
  }

  .cat-filter {
    display: initial;
    /* font-size: 1rem; */
    text-align: left;
  }

  button.cat-filter {
    margin-top: 0.5rem;
    padding: 0;
    display: block;
  }

  button.cat-filter:hover {
    font-weight: 700;
    color: #e03b3b;
  }

  button.cat-filter::after {
    all: unset;
  }
}

@media screen and (min-width: 1440px) {
  section.product-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* product detail */
.detail__container {
  padding: 1rem;
}
.detail__category a {
  font-weight: 600;
  color: #a1a1a1;
}
.detail__image__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  max-width: 400px;
  margin-inline: auto;
}
.detail__image-feature {
  grid-column: span 4;
  grid-row: span 4;
  cursor: auto;
}
.detail__image > img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.detail__content {
  font-family: "Inter", sans-serif;
  margin-inline: auto;
  max-width: 400px;
}
.detail__category {
  text-transform: uppercase;
  color: #a1a1a1;
  padding: 1rem 0;
}
.detail__line {
  width: 3rem;
  margin-left: 0;
  border: 2px solid #80808050;
}
.detail__price {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.detail__price span {
  vertical-align: super;
  font-size: 1rem;
}
.detail__desc {
  padding-top: 1rem;
  font-size: 1rem;
  color: #222222;
}
.detail__container-qty {
  padding: 1rem 0;
}
.detail__container-qty button {
  width: 3rem;
  height: 3rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.detail__container-qty input {
  width: 3rem;
  border: none;
  font-weight: 700;
  padding-inline: 0.25rem;
  text-align: center;
  outline: none;
}
.detail__button-cart {
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: 0;
  background-color: #006ef3;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .detail__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 950px;
    margin-inline: auto;
  }
  .detail__content {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

/* social icon */
.social__container {
  display: flex;
  gap: 1rem;
}
.social__icon {
  border: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 100%;
  border: 2px solid gray;
  color: gray;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social__icon-fb:hover {
  border-color: #3b5998;
  color: #3b5998;
}
.social__icon-ig:hover {
  border-color: #bc2a8d;
  color: #bc2a8d;
}
.social__icon-tw:hover {
  border-color: #00aced;
  color: #00aced;
}

/* footer */

footer {
  background-color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}
footer p {
  font-family: "Inter", sans-serif;
  color: #f2f2f2;
  font-size: 0.75rem;
  text-align: left;
  letter-spacing: 1px;
  line-height: 160%;
  font-weight: 300;
  padding: 0;
}

/* utils */
.display-block {
  display: block;
}
.display-none {
  display: none;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
