@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: whitesmoke;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  /* background-color: gray; */
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
/* loading */
.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.app {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 2rem;
}
header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
div.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
picture.header__banner {
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

img.header__banner {
  object-fit: cover;
}
img.header__image {
  max-width: 25px;
  align-self: center;
}
h1.header__title {
  font-size: 1.2rem;
  font-family: "Epilogue", sans-serif;
}

/* shopping cart */
.header__shopping-cart {
  width: 2rem;
  height: 2rem;
}

main {
  margin-top: 2rem;
  position: relative;
}

/* search */

section.seach {
  position: relative;
  display: inline-block;
}

#seachInput {
  width: 100%;
  font-family: "Inter", sans-serif;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* #clearSearch {
  position: relative;
  right: 40px;
  margin: auto;
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  margin-top: 0.75rem;
} */

/* cat filter */
section.cat {
  padding-bottom: 2rem;
}
.cat-filter {
  font-family: "Inter", sans-serif;
  display: inline;
  font-size: 0.75rem;
}
.cat-filter:first-child {
  font-weight: 700;
}
button.cat-filter {
  background-color: transparent;
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
}
button.cat-filter::after {
  content: " | ";
}
button.cat-filter:last-child:after {
  content: unset;
}

img.welcome__image {
  max-width: 100%;
}

section.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.5rem;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05, 1.05);
  border: 1px solid #006ef3;
}

.card > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.card__content {
  padding: 1rem;
  background-color: white;
  align-self: end;
  /* margin: 0.25rem; */
  padding: 0.25rem;
  box-shadow: 0 0.25rem 1rem rgb(0, 0, 0, 0.1);
  min-height: 10rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.card__title {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.card__description {
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.card__image {
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .card[data-feature="true"] {
    outline: 1px solid hotpink;
  }
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  section.search {
    grid-column: span 12;
  }

  .cat {
    grid-column: span 2;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .product-grid {
    grid-column: span 10;
  }

  .cat-filter {
    display: initial;
    font-size: 1rem;
    text-align: left;
  }

  button.cat-filter {
    margin-top: 0.5rem;
    padding: 0;
    display: block;
  }

  button.cat-filter:hover {
    font-weight: 700;
    color: #e03b3b;
  }

  button.cat-filter::after {
    all: unset;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal__container {
  position: fixed;
  background: white;
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  max-width: 1024px;
  height: 100%;
}
.modal__button-close {
  position: absolute;
  top: 0.5rem;
  right: 1.25rem;
  font-weight: 800;
  border: 0;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 0;
  z-index: 50;
  color: gray;
  cursor: pointer;
}
.modal__breadcrumb {
  text-transform: lowercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.modal__breadcrumb span {
  font-weight: 600;
}
.modal__breadcrumb span::after {
  content: " >";
}

.modal__content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: auto;
  gap: 2rem;
}

.modal__content-grid {
  display: grid;
  grid-template-rows: 1fr 5rem;
  height: 100%;
  order: 2;
  gap: 2rem;
}
.modal__price {
  font-size: 2rem;
}
.modal__button-cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal__title {
  font-size: clamp(2rem, calc(5vw + 1rem), 3rem);
  line-height: 1;
}
.modal__brand {
  color: rgb(76, 82, 88);
  font-weight: 600;
}

.modal__description {
  margin-top: 2rem;
  font-size: 1rem;
}

.modal__image-star {
  width: 1rem;
  display: inline;
  color: rgb(255, 174, 0);
}
.modal__rating {
  display: inline;
  margin-left: 0.5rem;
}

.modal__image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  gap: 0.5rem;
  cursor: pointer;
}

.modal__image > * {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.modal__image-feature {
  grid-column: span 4;
  grid-row: span 4;
  cursor: auto;
}

.modal__button-cart {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
}

@media screen and (min-width: 900px) {
  .modal__container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    width: 80%;
    height: initial;
  }

  .modal__content-grid {
    order: unset;
  }
}

/* utils */
.display-block {
  display: block;
}
.display-none {
  display: none;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
